body{
  padding-top: 90px;
  width: 100%;
  font-family: "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}
::selection {
    background: #fc1b44;
    color: white;
    }
.message{
  width: 55px;
  height: 55px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1;
}
.message img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2)
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.2);
  background-color: #fff;
}
.logo{
  width: 320px;
  display: flex;
  margin: 0 0 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  align-items: center;
}
.logo:hover{
  color: #fc1b44;
}
.logo img{
  width: 50px;
}
.header nav{
  margin: 0 20px 0 0;
  width: 570px;
  display: flex;
  justify-content: space-evenly;
  /* background-color: cadetblue; */
}
.header nav a{
  height: 100%;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  padding: 0 18px;
  /* background-color: rgb(204, 175, 175); */
}
.header nav p{
  height: 39px;
  padding-top: 24px;
}
.header nav a:hover{
  color: #fc1b44;
}
.nav_color{
  width: 100%;
  height: 3px;
  /* background-color: #fc1b44; */
}
.nav_color:hover{
  background-color: #fc1b44;
}
.banner{
  text-align: center;
  width: 100%;
}
.banner img{
  width: 1200px;
  vertical-align: bottom;
  border-radius: 5px;
}
.main_tittle{
  text-align: center;
  margin: auto;
  padding: 50px 0 80px;
  color: #394150;
}
.main_tittle h2{
  font-size: 30px;
  font-weight: 600;
  padding: 12px 0;
}
.main_tittle_color{
  width: 48px;
  height: 2px;
  background-color: #fc1b44;
  margin: auto;
}
.main_tittle p{
  padding-top: 33px;
  font-size: 20px;
}
.threepoints{
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom:180px;
  text-align: center;
  color: #394150;
}
.threepoints_block{
  width: 100%;
}
.threepoints_block img{
  width: 230px;
}
.threepoints_block h3{
  font-size: 19px;
  font-weight: 800;
  padding: 20px 0 14px;
}
.threepoints_block p{
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.teacher{
  width: 100%;
  background-color: #F9FAFB;
  color: #394150;
}
.teacher_introduce{
  width: 770px;
  text-align: left;
  margin: auto;
  padding: 100px 0 40px;
}
.teacher_introduce h2{
  font-size: 30px;
  font-weight: 600;
  padding: 12px 0;
}
.teacher_introduce_color{
  width: 48px;
  height: 2px;
  background-color: #fc1b44;;
  margin: left;
}
.teacher_introduce p{
  padding-top: 33px;
  font-size: 20px;
  line-height: 28px;
}
.teacher_member{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.teacher_member_each{
  width: 510px;
  background-color:white;
  padding: 35px;
  margin-bottom: 70px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(70, 69, 69, 0.1)
}
.member_info{
  display: flex;
  align-items: center;
  padding: 0 0 25px;
}
.member_pic{
  width: 160px;
  border-radius: 50%;
}
.member_info_name{
  padding: 20px;
}
.member_info_name p{
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}
.member_info_color{
  width: 40px;
  height: 2px;
  background-color: #fc1b44;;
  margin: left;
}
.member_info_name h4{
  font-size: 20px;
  font-weight: 600;
  padding: 26px 0 16px;
}
.member_contact{
  display: flex;
}
.member_contact img{
  width: 23px;
  opacity: 0.5;
  padding-right: 15px;
}
.member_contact img:hover{
  opacity: 1;
}
.member_line{
  width: 100%;
  height: 1.5px;
  background-color: #E5E7EB;
}
.member_introduce{
  padding: 16px 0;
  font-size: 15.5px;
  font-weight: normal;
  line-height: 23px;
}
.member_introduce p{
  padding-top: 10px;
}
.member_introduce span{
  font-weight: 900;
}
.member_introduce a{
  text-decoration: none;
  color: #fc1b44;
}
.member_introduce a:hover{
  text-decoration: underline;
  color: #fc1b44;
}
.member_line2{
  display: flex;
  align-items: center;
  padding: 10px 0 20px;
}
.member_line2 p{
  font-size: 16px;
  font-weight: 400;
}
.member_line2 div{
  width: 80%;
  height: 1.5px;
  background-color: #E5E7EB;
}
.member_course{
  display: flex;
  flex-wrap:wrap;
}
.member_course a{
  font-size: 16px;
  text-decoration: none;
  color: #fc1b44;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #fc1b44;
  border-radius: 5px;
}
.member_course a:hover{
  color: white;
  background-color: #fc1b44;
}
.media{
  width: 100%;
  background-color: #F9FAFB;
  color: #394150;
}
.media_reports{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}
.media_reports_news{
  width: 580px;
  height: 140px;
}
.media_reports_news a{
  text-decoration: none;
  color: #394150;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.media_reports_news a:hover{
  color: #fc1b44;
}
.media_reports_news p{
  font-size: 16px;
  font-weight: normal;
  color: #727884;
  padding-top: 18px;
}
.main_morelink{
  width: 100%;
  height: 160pt;
  text-align: center;
  margin-top: 25px;
}
.main_morelink a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 12px 32px;
  background-color: #fc1b44;
  border-radius: 5px;
}
.main_morelink a:hover{
  background-color: #b31e39;
}


