.course{
  width: 100%;
  background-color: #29303D;
  position: relative;
}
.course::before{
  content: "";
  background-color: #29303D;
  position: absolute;
  bottom: 99.96%;
  width: 100%;
  height: 170px;
  clip-path: polygon(0% 100%, 30% 0%, 100% 100%);
}
.course::after{
  content: "";
  background-color: #29303D;
  position: absolute;
  top: 99.96%;
  width: 100%;
  height: 170px;
  clip-path: polygon(0% 0%, 100% 0%, 70% 100%);
}

.course_short{
  width: 1080px;
  display: flex;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
}
.course_introduce{
  margin: 90px 30px 0px 20px;
}
.course_introduce h1{
  font-size: 30px;
  font-weight: 800;
  color: white;
  padding-bottom: 12px;
}
.course_introduce_color{
  width: 48px;
  height: 2px;
  background-color: #fc1b44;;
  margin: left;
}
.course_introduce p{
  padding-top: 30px;
  font-size: 19px;
  font-weight: 400;
  color: #a9b0bd;
  line-height: 28px;
}
.course_goto{
  width: 50%;
  height: 100%;
  display: flex;
  margin-right: 20px;
  align-self: flex-end;
}
.course_goto_dot{
  display: block;
  width: 30px;
  align-self: flex-end;
}
.course_dot{
  width: 8px;
  height: 8px;
  background-color: #a9b0bd;
  transform: rotate(45deg);
}
.course_goto_dot :nth-child(-n+2){
  margin-bottom: 10px ;
}
.course_dot:active{
  background-color: #fc1b44;
}
.course_goto_page{
  width: 550px;
  height: 230px;
  background-color: #fc1b44;
  align-self: flex-end;
}
.course_goto_page h4{
  font-size: 24px;
  font-weight: 800;
  color: white;
  padding-top: 50px;
  padding-left: 20px
}
.course_goto_p{
  font-size: 16.5px;
  font-weight: normal;
  color: white;
  padding: 24px 0 32px 20px;
}
.course_goto_page a{
  display: flex;
  text-decoration: none;
  font-size: 16.5px;
  font-weight: normal;
  color: white;
}
.course_goto_page a :first-child{
  margin-left: 20px;
}
.course_goto_page a:hover :first-child{
  text-decoration: underline;
}
.course_goto_page a :last-child{
  font-weight: 900;
  margin-left: 3px;
  }
.course_goto_page a:hover :last-child{
  position: relative;
  right: -5px;
}
.course_recently{
  width: 1175px;
  height: 500px;
  margin: 0 auto 50px;
}
.course_recently h4{
  font-size: 24px;
  font-weight: 800;
  color: white;
  padding: 100px 0 30px 
}
.recentlybg{
  display: flex;
}
.recentlybg div{
  width: 375px;
  height: 330px;
  background-color: #fc1b44;
  border-radius: 8px;
}
.recentlybg div:nth-of-type(-n+2){
  margin-right: 25px;
}
.recently{
  display: flex;
  position: relative;
  top: -330px;
}
.recently a{
  width: 375px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 8px;
}
.recently a:nth-of-type(-n+2){
  margin-right: 25px;
}
.recently_each{
  text-decoration: none;
  
}
.recently_each:hover{
  position: relative;
  top: -15px;
}
.recently_each_pic{
  width: 375px;
}
.recently_each_month{
  width: fit-content;
  margin: 15px 0 13px 20px;
  color: #727883;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
  border-style: solid;
  border-color: #cdcdcd;
  border-width: 1px;
  border-radius: 3px;
}
.recently_each_decoline{
  margin: 0 20px;
  height: 1px;
  background-color: #cdcdcd;
}
.recently_each_bottom{
  display: flex;
  margin: 13px 20px;
  justify-content: space-between;
}
.recently_each_teacher{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #A0A6B1;
  align-items: center;
}
.recently_each_teacher img{
  align-self: start;
  width: 16px;
  padding-right: 8px;
}
.recently_each_level{
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #F87171;
}
.recently_each_level img{
  align-self: start;
  width: 14px;
  padding-right: 6px;
}
.recently_each_last{
  color: #34D399;
}
.onlinecourse{
  width: 100%;
  height: 850px;
  margin-left: auto;
  margin-right: auto;
  color: #394150;
  background-color: #F9FAFB;
  position: relative;
}
.onlinecourse::after{
  content: "";
  background-color: #F9FAFB;
  position: absolute;
  top: 99.96%;
  width: 100%;
  height: 170px;
  clip-path: polygon(0% 0%, 100% 0%, 30% 100%);
}
.onlinecourse_intro{
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin: left;
  padding: 200px 0 50px;
}
.onlinecourse_intro h1{
  font-size: 30px;
  font-weight: 600;
  padding: 12px 0;
}
.onlinecourse_intro_color{
  width: 48px;
  height: 2px;
  background-color: #fc1b44;
  margin: left;
}
.onlinecourse_intro p{
  width: 770px;
  padding-top: 33px;
  font-size: 20px;
  line-height: 28px;
}
.onlinecourse_optionsbg{
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.onlinecourse_optionsbg div{
  width: 550px;
  height: 390px;
  background-color: #fc1b44;
  border-radius: 8px;
}
.onlinecourse_optionsbg div:nth-child(1){
  margin-right: 25px;
}
.onlinecourse_options{
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.onlinecourse_options a{
  width: 550px;
  height: 390px;
  border-radius: 8px;
  text-decoration: none;
  color: #394150;
  background-color: #fff;
  position: relative;
  top: -390px;
  box-shadow: 0px 0px 10px rgba(70, 69, 69, 0.2)
}
.onlinecourse_options a:hover{
  position: relative;
  top: -405px;
}
.onlinecourse_options a:nth-child(1){
  margin-right: 25px;
}
.onlinecourse_options img{
  width: 550px;
}
.onlinecourse_options h4{
  margin: 25px 0 15px 20px;
  font-size: 20px;
  font-weight: 800;
}
.onlinecourse_options_decoline{
  margin: 0 20px;
  height: 1px;
  background-color: #cdcdcd;
}
.onlinecourse_options_intro{
  margin: 15px 20px 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
}
.onlinecourse_options_go{
  display: flex;
  height: 10px;
  color: #fc1b44;
  margin-left: 20px;
}
.onlinecourse_options_go:hover :first-child{
  text-decoration: underline;
}
.onlinecourse_options_go :last-child{
  font-weight: 900;
  margin-left: 3px;
  }
.onlinecourse_options_go:hover :last-child{
  position: relative;
  right: -5px;
}
.recommend{
  color: #394150;
}
.recommand_title{
  padding-top:200px
}

.recommand_member{
  display: flex;
  width: 900px;
  margin: -40px auto 150px auto;
  justify-content: space-evenly;
  align-items: start;
}
.recommand_member_item{
  width: 345px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(70, 69, 69, 0.1)
  
}
.recommand_member_p{
  color: #394150;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.recommand_student{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.recommand_student img{
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.recommand_student p{
  color: #A5ABB5;
  font-size: 13px;
  font-weight: 400;
}
.recommend_dot{
  width: 350px;
  display: flex;
  margin: 0 auto 30px;
  justify-content: space-evenly;
}
.recommend_dot div{
  width: 8px;
  height: 8px;
  background-color: #D3D6DB;
}
.recommend_dot div:hover{
  background-color: #fc1b44;
}
.article_body{
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin: -30px auto 80px auto;
}
.article_body a{
  text-decoration: none;
  color: #394150;
  font-size: 25px;
  font-weight: 800;
  line-height: 32px;
}
.article_body a:hover{
  color: #fc1b44;
}
.article_body_item{
  width: 365px;
}
.article_body_item div{
  width: 365px;
  height: 220px;
  overflow: hidden;
  border-radius: 7px;
}
.article_body img{
  width: 100%;
}
.article_body h5{
  padding: 16px 0;
}
.article_body p{
  color: #a4adbd;
  font-size: 13px;
  font-weight: 400;
}
.article_morelink{
  padding-bottom: 250px;
}
.link{
  color: white;
  background-color: #29303D;
  margin-top: -50px;
  padding-bottom: 60px;
  position: relative;
}
.link::before{
  content: "";
  background-color: #29303D;
  position: absolute;
  bottom: 99.9%;
  width: 100%;
  height: 170px;
  clip-path: polygon(0% 100%, 30% 0%, 100% 100%);
}
.link_links{
  display: flex;
  padding-top: 100px;
}
.link_information{
  width: 600px;
  margin-left: 100px;
}
.link img{
  height: 55px;
  padding-bottom: 15px;
}
.link_information p{
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}
.link_web{
  display: flex;
  flex-wrap: wrap;
  padding-right: 100px;
}
.link_web div{
  width: 200px;
  height: 180px;
}
.link_web h5{
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}
.link_web a{
  display: grid;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}
.link_web a:hover{
  color: #fc1b44;
}
.link_icons{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content:space-evenly;
}
.link_icons img{
  width: 38px;
  height: 38px;
}
.link_icons img:hover{
  opacity: 0.3;
}
.footer{
  text-align: center;
  background-color: #171E2C;
  color: #A0A6B1;
  font-size: 13.5px;
  font-weight: 500;
  padding: 19px 0;
}