body{
  padding-top: 90px;
  width: 100%;
}

::selection {
    background: #fc1b44;
    color: white;
    }
.message{
  width: 55px;
  height: 55px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  /* background-color: gray; */
}
.message img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2)
}
.header{
  width: 100%;
  /* height: 65px; */
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.2);
  background-color: #fff;
}
.logo{
  width: 320px;
  display: flex;
  margin: 0 0 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  align-items: center;
}
.logo:hover{
  color: #fc1b44;
}
.logo img{
  width: 50px;
}
.header nav{
  margin: 0 20px 0 0;
  width: 570px;
  display: flex;
  justify-content: space-evenly;
  /* background-color: cadetblue; */
}
.header nav a{
  height: 100%;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  padding: 0 18px;
  /* background-color: rgb(204, 175, 175); */
}
.header nav p{
  height: 39px;
  padding-top: 24px;
}
.header nav a:hover{
  color: #fc1b44;
}
.nav_color{
  width: 100%;
  height: 3px;
  /* background-color: #fc1b44; */
}
.nav_color:hover{
  background-color: #fc1b44;
}
.banner{
  text-align: center;
  width: 100%;
}
.banner img{
  width: 1200px;
  vertical-align: bottom;
  border-radius: 5px;
}
.slogan{
  text-align: center;
  width: 100%;
  color: #394150;
}
.slogan h2{
  font-size: 30px;
  font-weight: 600;
  padding: 48px 0 12px 0;
}
.slogan_color{
  width: 48px;
  height: 2px;
  background-color: #fc1b44;
  margin: auto;
}
.slogan p{
  padding: 33px 0 36px 0;
  font-size: 20px;
}
.threepoints{
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0 180px;
}
.threepoints_block{
  text-align: center;
  color: #394150;
}
.threepoints_block img{
  width: 230px;
}
.threepoints_block h3{
  font-size: 19px;
  font-weight: 800;
  padding: 20px 0 14px;
}
.threepoints_block p{
  font-size: 16px;
  line-height: 22px;
}
.teacher{
  width: 100%;
  background-color: #F9FAFB;
  color: #394150;
}
.teacher_slogan{
  width: 770px;
  text-align: left;
  margin: auto;
  padding: 100px 0 0;
}
.teacher_slogan h2{
  font-size: 30px;
  font-weight: 600;
  padding: 12px 0;
}
.teacher_slogan_color{
  width: 48px;
  height: 2px;
  background-color: #fc1b44;;
  margin: left;
}
.teacher_slogan p{
  padding: 33px 0;
  font-size: 20px;
  line-height: 28px;
}
.teacher_member{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(252, 221, 221);
  justify-content: space-evenly;
}
.teacher_member_each{
  width: 510px;
  background-color:white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(70, 69, 69, 0.1)
}

.member_info{
  display: flex;
  align-items: center;
  padding: 0 0 25px;
}
.member_pic{
  width: 160px;
  border-radius: 50%;
}
.member_info_name{
  padding: 20px;
}
.member_info_name p{
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}
.member_info_color{
  width: 40px;
  height: 2px;
  background-color: #fc1b44;;
  margin: left;
}
.member_info_name h4{
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0;
}
.member_contact{
  display: flex;
}
.member_contact img{
  width: 23px;
  opacity: 0.5;
  padding-right: 15px;
}
.member_contact img:hover{
  opacity: 1;
}
.member_line{
  margin: auto;
  width: 80%;
  height: 2px;
  background-color: #E5E7EB;
}
.member_introduce{
  font-size: 16px;
  line-height: 22px;
}

.member_line2{
  display: flex;
}
.member_line2 p{
  font-size: 16px;
}
.member_course{
  display: flex;
  flex-wrap:wrap;
  
}
.member_course a{
  font-size: 16px;
  text-decoration: none;
  color: #fc1b44;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #fc1b44;
  border-radius: 5px;
}

.member_course a:hover{
  color: white;
  background-color: #fc1b44;
}

.footer{
  text-align: center;
  background-color: #171E2C;
  color: #A0A6B1;
  font-size: 13.5px;
  font-weight: 500;
  padding: 19px 0;
}

