.course{
  width: 100%;
  background-color: #29303D;
}
.course_short{
  width: 1080px;
  display: flex;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
}
.course_introduce{
  margin: 170px 30px 0px 20px;
}
.course_introduce h4{
  font-size: 30px;
  font-weight: 800;
  color: white;
  padding-bottom: 12px;
}
.course_introduce_color{
  width: 48px;
  height: 2px;
  background-color: #fc1b44;;
  margin: left;
}
.course_introduce p{
  padding-top: 30px;
  font-size: 19px;
  font-weight: 400;
  color: #a9b0bd;
  line-height: 28px;
}
.course_goto{
  width: 50%;
  height: 100%;
  display: flex;
  margin-right: 20px;
  align-self: flex-end;
}
.course_goto_dot{
  display: block;
  width: 30px;
  align-self: flex-end;
}
.course_dot{
  width: 8px;
  height: 8px;
  background-color: #a9b0bd;
  transform: rotate(45deg);
}
.course_goto_dot :nth-child(-n+2){
  margin-bottom: 10px ;
}
.course_dot:active{
  background-color: #fc1b44;
}
.course_goto_page{
  width: 550px;
  height: 230px;
  background-color: #fc1b44;
  align-self: flex-end;
}
.course_goto_page h4{
  font-size: 24px;
  font-weight: 800;
  color: white;
  padding-top: 50px;
  padding-left: 20px
}
.course_goto_p{
  font-size: 16.5px;
  font-weight: normal;
  color: white;
  padding: 24px 0 32px 20px;
}
.course_goto_page a{
  display: flex;
  text-decoration: none;
  font-size: 16.5px;
  font-weight: normal;
  color: white;
}
.course_goto_page a :first-child{
  margin-left: 20px;
}
.course_goto_page a :first-child:hover{
  text-decoration: underline;
}
.course_goto_page a :last-child{
  font-weight: 900;
  margin-left: 3px;
  }
.course_goto_page a :last-child:hover{
  position: relative;
  right: -5px;
}
.course_recently{
  width: 1175px;
  height: 500px;
  margin: 0 auto 50px;
}
.course_recently h5{
  font-size: 24px;
  font-weight: 800;
  color: white;
  padding: 100px 0 30px 
}
.recentlybg{
  display: flex;
}
.recentlybg div{
  width: 375px;
  height: 330px;
  background-color: #fc1b44;
  border-radius: 8px;
}
.recentlybg div:nth-of-type(-n+2){
  margin-right: 25px;
}
.recently{
  display: flex;
  position: relative;
  top: -330px;
}
.recently a{
  width: 375px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 8px;
}
.recently a:nth-of-type(-n+2){
  margin-right: 25px;
}
.recently_each{
  text-decoration: none;
  
}
.recently_each:hover{
  position: relative;
  top: -15px;
}
.recently_each_pic{
  width: 375px;
}
.recently_each_month{
  width: fit-content;
  margin: 15px 0 13px 20px;
  color: #727883;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
  border-style: solid;
  border-color: #cdcdcd;
  border-width: 1px;
  border-radius: 3px;
}
.recently_each_decoline{
  margin: 0 20px;
  height: 1px;
  background-color: #cdcdcd;
}
.recently_each_bottom{
  display: flex;
  margin: 13px 20px;
  justify-content: space-between;
}
.recently_each_teacher{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #A0A6B1;
  align-items: center;
}
.recently_each_teacher img{
  align-self: start;
  width: 16px;
  padding-right: 8px;
}
.recently_each_level{
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #F87171;
}
.recently_each_level img{
  align-self: start;
  width: 14px;
  padding-right: 6px;
}
.recently_each_last{
  color: #34D399;
}
.onlinecourse{
  width: 100%;
  height: 850px;
  margin-left: auto;
  margin-right: auto;
  color: #394150;
  background-color: #F9FAFB;
}
.onlinecourse_intro{
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin: left;
  padding: 100px 0 50px;
}
.onlinecourse_intro h2{
  font-size: 30px;
  font-weight: 600;
  padding: 12px 0;
}
.onlinecourse_intro_color{
  width: 48px;
  height: 2px;
  background-color: #fc1b44;
  margin: left;
}
.onlinecourse_intro p{
  width: 770px;
  padding-top: 33px;
  font-size: 20px;
  line-height: 28px;
}
.onlinecourse_optionsbg{
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.onlinecourse_optionsbg div{
  width: 550px;
  height: 390px;
  background-color: #fc1b44;
  border-radius: 8px;
}
.onlinecourse_optionsbg div:nth-child(1){
  margin-right: 25px;
}
.onlinecourse_options{
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.onlinecourse_options a{
  width: 550px;
  height: 390px;
  border-radius: 8px;
  text-decoration: none;
  color: #394150;
  background-color: #fff;
  position: relative;
  top: -390px;
  box-shadow: 0px 0px 10px rgba(70, 69, 69, 0.2)
}
.onlinecourse_options a:hover{
  position: relative;
  top: -405px;
}
.onlinecourse_options a:nth-child(1){
  margin-right: 25px;
}
.onlinecourse_options img{
  width: 550px;
}
.onlinecourse_options h5{
  margin: 25px 0 15px 20px;
  font-size: 20px;
  font-weight: 800;
}
.onlinecourse_options_decoline{
  margin: 0 20px;
  height: 1px;
  background-color: #cdcdcd;
}
.onlinecourse_options_intro{
  margin: 15px 20px 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
}
.onlinecourse_options_go{
  display: flex;
  height: 10px;
  color: #fc1b44;
  margin-left: 20px;
}
.onlinecourse_options_go :first-child:hover{
  text-decoration: underline;
}
.onlinecourse_options_go :last-child{
  font-weight: 900;
  margin-left: 3px;
  }
.onlinecourse_options_go :last-child:hover{
  position: relative;
  right: -5px;
}



.article{
  width: 100%;
  color: #394150;
}